mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
.posts {
  box-sizing: border-box;
  // background-color: #a35a5a;
  margin: 3rem 0 3rem 0;
  display: grid;
  grid-template-columns: auto auto;
}
.post {
  width: 30vw;
  min-height: 20vh;
  margin: 10px;
  margin: auto;
  padding: auto;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1rem;
}
