<mat-card *ngIf="isAuthenticated">
  <form [formGroup]="postForm" (submit)="onAddPost()">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Post Title"
        [value]="post.title ?? ''"
      />
    </mat-form-field>
    <div *ngIf="mode === 'CREATE'">
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Pick Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>
    <div
      class="image-preview"
      *ngIf="
        mode === 'CREATE' &&
        imagePreview !== '' &&
        imagePreview &&
        postForm.get('image')?.valid
      "
    >
      <img
        [src]="post.imagePath ?? imagePreview"
        [alt]="postForm.value.title"
      />
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="content"
        placeholder="Post Content"
        [value]="post.content ?? ''"
      ></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      {{ mode === "CREATE" ? "Add" : "Edit" }} Post
    </button>
  </form>
</mat-card>

<div class="posts">
  <mat-card class="post" *ngFor="let post of posts">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle>{{ post.creator.email }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ post.imagePath }}" alt="{{ post.title }}" />
    <mat-card-content>
      <p>
        {{ post.content }}
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="userId === post.creator._id">
      <button mat-button color="warn" (click)="onDelete(post._id)">
        Delete
      </button>
      <button mat-button color="accent" (click)="onUpdate(post._id)">
        Edit
      </button>
    </mat-card-actions>
  </mat-card>
</div>
