mat-card {
  background-color: white;
  display: flex;
  justify-content: center;
  border: none;
  margin: auto;
  font-size: large;
}
mat-form-field {
  width: 100%;
}
mat-spinner {
  margin: auto;
}
input {
  color: black;
}
button {
  margin-top: 10px;
}
